{#{{ form_start(form_familia) }}#}
{#<div class="col-md-4">#}
    {#<div class="form-group">#}
        {#{{ form_label(form_familia.nombre) }}#}
        {#{{ form_errors(form_familia.nombre) }}#}
        {#{{ form_widget(form_familia.nombre) }}#}
    {#</div>#}
{#</div>#}
{#<div class="col-md-8">#}
    {#<div class="form-group">#}
        {#{{ form_label(form_familia.direccion) }}#}
        {#{{ form_errors(form_familia.direccion) }}#}
        {#{{ form_widget(form_familia.direccion) }}#}
    {#</div>#}
{#</div>#}
{#{{ form_end(form_familia) }}#}