{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nivel list</h1>

    <table>
        <thead>
            <tr>
                <th>Nivid</th>
                <th>Nivtipo</th>
                <th>Nivestatus</th>
                <th>Nivicono</th>
                <th>Nivnombre</th>
                <th>Nivcolor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nivel in nivels %}
            <tr>
                <td><a href="{{ path('nivel_show', { 'id': nivel.nivId }) }}">{{ nivel.nivId }}</a></td>
                <td>{{ nivel.nivTipo }}</td>
                <td>{{ nivel.nivEstatus }}</td>
                <td>{{ nivel.nivIcono }}</td>
                <td>{{ nivel.nivNombre }}</td>
                <td>{{ nivel.nivColor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nivel_show', { 'id': nivel.nivId }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
