{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nivel</h1>

    <table>
        <tbody>
            <tr>
                <th>Nivid</th>
                <td>{{ nivel.nivId }}</td>
            </tr>
            <tr>
                <th>Nivtipo</th>
                <td>{{ nivel.nivTipo }}</td>
            </tr>
            <tr>
                <th>Nivestatus</th>
                <td>{{ nivel.nivEstatus }}</td>
            </tr>
            <tr>
                <th>Nivicono</th>
                <td>{{ nivel.nivIcono }}</td>
            </tr>
            <tr>
                <th>Nivnombre</th>
                <td>{{ nivel.nivNombre }}</td>
            </tr>
            <tr>
                <th>Nivcolor</th>
                <td>{{ nivel.nivColor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nivel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
