{{ form_start(form_familia) }}
<div class="box-body">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form_familia.nombre) }}
            {{ form_errors(form_familia.nombre) }}
            {{ form_widget(form_familia.nombre) }}
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            {{ form_label(form_familia.direccion) }}
            {{ form_errors(form_familia.direccion) }}
            {{ form_widget(form_familia.direccion) }}
        </div>
    </div>
</div>
{{ form_end(form_familia) }}

{{ form_start(form) }}
<div class="box-body">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.nombres) }}
            {{ form_errors(form.nombres) }}
            {{ form_widget(form.nombres) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.correo) }}
            {{ form_errors(form.correo) }}
            {{ form_widget(form.correo) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.telefono) }}
            {{ form_errors(form.telefono) }}
            {{ form_widget(form.telefono) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.rolFamilia) }}
            {{ form_errors(form.rolFamilia) }}
            {{ form_widget(form.rolFamilia) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.metodoGanar) }}
            {{ form_errors(form.metodoGanar) }}
            {{ form_widget(form.metodoGanar) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.fechaGanado) }}
            {{ form_errors(form.fechaGanado) }}
            {{ form_widget(form.fechaGanado) }}
        </div>
    </div>
</div>
<div class="box-footer">
    <input type="submit" class="btn btn-primary" value="Guardar">
    <button type="reset" class="btn btn-default">Limpiar</button>
    <button type="button" id="btn-ganados-registrar-cancelar" class="btn btn-default">Cancelar</button>
</div>
{{ form_end(form) }}



